<h1>Schools#index</h1>
<p>Find me in app/views/schools/index.html.erb</p>

<h1>Select a school</h1>
<% @schools.each do |school| %>
  <%= link_to school.name, school_courses_path(school.id) %> <br>
<% end %>