<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>

<%= @course.school.name %> <br>
<%= @course.name %>
<%= link_to "New Tutor Listing", new_school_course_post_path(@course.school_id, @course.id) %>